<table>
    <thead>
        <tr>
            <th width="15%">Term</th>
            <th width="70%">Definition</th>
            <th width="15">Action</th>
        </tr>
    </thead>
    <tbody>
        {% if terms_data is not empty %}
            {% for key, item in terms_data %} 
            <tr>
                <td colspan="3" class="glossary_letter_heading">{{ key|upper }}</td>
            </tr>
                {% for v in item %}
                    <tr class="glossary_term_detail">
                        <td>{{ v.term|e }}</td>
                        <td>{{ v.description|e }}</td>
                        <td>
                        <a href="simple_glossary/edit/{{ v.gid|e }}">Edit</a> | <a href="simple_glossary/delete/{{ v.gid|e }}">Delete</a>  
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="error">No term exist for this keyword.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
